/* CSS for website */


.book-body {
    max-width: 1600px;
}

.body-inner{
    max-width: 1600px;
}

.page-wrapper{
    max-width: 1600px;
}

.page-inner{
    max-width: 1600px;
}

.markdown-section{
    max-width: 1600px;
}
