/* CSS for website */

.page-inner{
  width: 90%; 
  max-width:1200px;
  margin: 0 auto;
  padding:1px 15px 30px 15px
}

.book-header h1{display: none;}

.markdown-section{ line-height:1.5;}
.markdown-section hr{ height:1px; padding:0; margin:1em 0;}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6{
  margin-top:.6em;
  margin-bottom:.5em;
  font-weight:bold;
}

.markdown-section h1{font-size:1.7em; margin-top:0em; padding-bottom:.3em; border-bottom: 1.5px solid #888;}
.markdown-section h2{font-size:1.5em; padding-bottom:.2em; border-bottom: 1px solid #999;}
.markdown-section h3{font-size:1.4em;}
.markdown-section h4{font-size:1.2em;}
.markdown-section h5{font-size:1.1em;}
.markdown-section h6{font-size:1em; color:#777;}

